{% load static %}


<!-- Start scroll top -->
<div class="scrollup"><i class="fas fa-chevron-up"></i></div>
<!-- End scroll top --> 

<!-- Tether JS --> 
<script src="{% static 'assets/js/tether.min.js' %}"></script> 

<!-- Popper JS --> 
<script src="{% static 'assets/js/popper.min.js' %}"></script> 

<!-- Bootstrap JS --> 
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script> 

<!-- OwlCarousel JS --> 
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script> 

<!-- Bootstrap dateTimePicker --> 
<script src="{% static 'assets/js/datetimepicker-moment.min.js' %}"></script> 
<script src="{% static 'assets/js/bootstrap-datetimepicker.min.js' %}"></script> 

<!-- SlickNav JS --> 
<script src="{% static 'assets/js/jquery.slicknav.min.js' %}"></script> 

<!-- fancybox Popup JS --> 
<script src="{% static 'assets/js/jquery.fancybox.min.js' %}"></script> 

<!-- WOW JS --> 
<script src="{% static 'assets/js/wow-1.3.0.min.js' %}"></script> 

<!-- Step Form with validate --> 
<script src="{% static 'assets/js/jquery.validate.js' %}"></script> 
<script src="{% static 'assets/js/form-step.js' %}"></script> 

<!-- SlickNav JS --> 
<script src="{% static 'assets/js/youtube-background.js' %}"></script> 

<!-- Gallery Filter --> 
<script src="{% static 'assets/js/jquery.filterizr.min.js' %}"></script> 

<!-- Chat JS --> 
<script src="{% static 'assets/js/chat.js' %}"></script> 

<!-- Coming Soon JS --> 
<script src="{% static 'assets/js/coming-soon.js' %}"></script> 

<!-- Active JS --> 
<script src="{% static 'assets/js/active.js' %}"></script>