{% load static %}
{% load i18n %}

<!-- Footer start -->
<footer class="site-footer"> 
    <!-- Footer Top start -->
    <div class="footer-top-area">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-3">
            <div class="footer-wiz">
              <h3 class="footer-logo"><img src="{% static 'assets/images/kilo/logo/djamila_logo.jpg' %}" alt="footer logo" style="border-radius: .6rem;"/></h3>
              <p></p>
              <ul class="footer-contact">
                <li><i class="fa fa-phone"></i> +33643030841
                </li>
                {% comment %}
                <li><i class="fa fa-envelope"></i> info@companyname.com</li>
                {% endcomment %}
                <li><i class="fa fa-fax"></i> +2250779797741
                </li>
              </ul>
            </div>
            {% comment %}
            <div class="top-social bottom-social"> <a href="#"><i class="fab fa-facebook-f"></i></a> <a href="#"><i class="fab fa-twitter"></i></a> <a href="#"><i class="fab fa-youtube"></i></a> <a href="#"><i class="fa fa-rss"></i></a> </div>
            {% endcomment %}
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <div class="footer-wiz footer-menu">
              <h3 class="footer-wiz-title">Liens rapides</h3>
              <ul>
                  <li class=""><a href="{% url 'main-home' %}">Accueil</a>
                    {% comment %}
                  <li>
                    <a href="{% url 'services' %}">Nos services</a>
                  </li>
                  {% endcomment %}
                  <li>
                    <a href="{% url 'ocean-freight-services' %}">Fret maritime</a>
                  </li>  
                  <li>
                    <a href="{% url 'air-freight-services' %}">Fret aérien</a>
                  </li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <div class="footer-wiz footer-menu">
              <h3 class="footer-wiz-title">Liens utiles</h3>
              <ul>
                {% comment %}
                <li><a href="{% url 'tracking' %}">Tracking</a>
                </li>
                <li><a href="{% url 'shop' %}">Boutique</a>
                </li>
                {% endcomment %}
                <li><a href="{% url 'contact' %}">Nous contacter</a></li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <div class="footer-wiz">
              <h3 class="footer-wiz-title">Horaires d'ouvertures</h3>
              <ul class="open-hours">
                <li><span>Du lundi au vendredi:</span> <span class="text-right">09h30 à 17h30</span></li>
                <li><span>Dimanche:</span> <span class="text-right">Fermée</span></li>
              </ul>
              <!-- <div class="newsletter">
                <form action="index.html">
                  <input type="text" placeholder="Enter your email" value="" class="news-input">
                  <button type="submit" value="" class="news-btn"><i class="fa fa-location-arrow"></i></button>
                </form>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- footer top end --> 
    
    <!-- copyright start -->
    <div class="footer-bottom-area">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-6 wow fadeInLeft">Copyright © 2024 <span>Djamila</span> Tous droits réservés</div>
          <!-- <div class="col-12 col-lg-6 text-right wow fadeInRight">Design & Development By: <a href="#" title="Ban2 Digital" target="_blank">Ban2 Digital</a></div> -->
        </div>
      </div>
    </div>
    <!-- copyright end --> 
  </footer>
  <!-- Footer end --> 