{% load static %}
{% load i18n %}


<style>

    /*-------------- Background Css ------------------*/

    .slide-bg-1 {
      background-image: url("{% static 'assets/images/kilo/shipping-industry-delivering-cargo-large-container-ship.jpg' %}");
    }
    .slide-bg-2 {
      background-image: url("{% static 'assets/images/kilo/large-cargo-ship-with-containers-port.jpg' %}");
    }
    .slide-bg-3 {
      background-image: url("{% static 'assets/images/slide-bg-4.jpg' %}");
    }
    .service-bg-1 {
      background-image: url("{% static 'assets/images/kilo/aerial-view-container-cargo-ship-sea.jpg' %}")
    }
    .service-bg-2 {
      background-image: url("{% static 'assets/images/kilo/airplane-track-front-view-generative-ai.jpg' %}")
    }
    .service-bg-3 {
      background-image: url("{% static 'assets/images/kilo/truck-vehicle-with-trailers-background.jpg' %}")
    }
    .home-quote {
      background-image: url("{% static 'assets/images/kilo/melinda-gimpel-5Ne6mMQtIdo-unsplash.jpg' %}");
    }
    .provided-block {
      background-image: url("{% static 'assets/images/kilo/provide.jfif' %}");
    }
    .testimonial-style2 {
      background-image: url("{% static 'assets/images/we-provide-bg.jpg' %}");
    }
    .get-quote {
      background-image: url("{% static 'assets/images/kilo/flyer.jpeg' %}");
    }
    .blog-bg-1 {
      background-image: url("{% static 'assets/images/service-bg-1.jpg' %}")
    }
    .blog-bg-2 {
      background-image: url("{% static 'assets/images/blog-bg-2.jpg' %}")
    }
    .blog-bg-3 {
      background-image: url("{% static 'assets/images/blog-bg-3.jpg' %}")
    }
    .related-blog-bg-1 {
      background-image: url("{% static 'assets/images/air-single-gallery3.jpg' %}")
    }
    .related-blog-bg-2 {
      background-image: url("{% static 'assets/images/air-single-gallery1.jpg' %}")
    }
    .counter-section {
      background-image: url("{% static 'assets/images/kilo/isaac-smith-AT77Q0Njnt0-unsplash.jpg' %}")
    }
    .inner-bg-1 {
      background-image: url("{% static 'assets/images/kilo/tyler-casey-CkZF0-etxU8-unsplash.jpg' %}");
    }
    .testimonial-img-bg-1 {
      background-image: url("{% static 'assets/images/kilo/testimony/elizeu-dias-2EGNqazbAMk-unsplash.jpg' %}");
    }
    .testimonial-img-bg-2 {
      background-image: url("{% static 'assets/images/kilo/testimony/prince-akachi-4Yv84VgQkRM-unsplash.jpg' %}");
    }
    .blog-image-1 {
      background-image: url("{% static 'assets/images/blog-image-1.jpg' %}");
    }
    .blog-image-2 {
      background-image: url("{% static 'assets/images/blog-image-2.jpg' %}");
    }
    .blog-image-3 {
      background-image: url("{% static 'assets/images/blog-image-3.jpg' %}");
    }
    .blog-image-4 {
      background-image: url("{% static 'assets/images/blog-image-4.jpg' %}");
    }
    .blog-image-5 {
      background-image: url("{% static 'assets/images/blog-image-5.jpg' %}");
    }
    .blog-image-6 {
      background-image: url("{% static 'assets/images/blog-image-6.jpg' %}");
    }
    .blog-image-7 {
      background-image: url("{% static 'assets/images/blog-image-7.jpg' %}");
    }
    .blog-image-8 {
      background-image: url("{% static 'assets/images/blog-image-8.jpg' %}");
    }
    .community-bg-1 {
      background-image: url("{% static 'assets/images/Coconut-Shells.jpg' %}");
    }
    .community-bg-2 {
      background-image: url("{% static 'assets/images/jute-fiber.jpg' %}");
    }
    .community-bg-3 {
      background-image: url("{% static 'assets/images/prawn.jpg' %}");
    }
    .community-bg-4 {
      background-image: url("{% static 'assets/images/fruits.jpg' %}");
    }
    
    body.box-style {
      background: url("{% static 'assets/images/body-bg.png' %}") repeat left top #fff;
    }

    .checkbox input[type=checkbox].css-checkbox:checked + label.css-label {
      background-image: url("{% static 'assets/images/checkbox2.png' %}");
    }
    
    .checkbox label.css-label {
      background-image: url("{% static 'assets/images/checkbox.png' %}");
    }
    
    .coming-soon {
      background-image: url("{% static 'assets/images/coming-soon.jpg' %}");
    }

    .top-contact a {
      background: url("{% static 'assets/images/separator.png' %}") repeat-y right top;
    }

    .customer-login {
      background-image: url("{% static 'assets/images/single-blog-pic1.jpg' %}");
    }

  </style>
