{% load static %}
{% load i18n %}
<style>
  @media screen and (max-width:1040px) {
    .mainmenu ul {
      text-align: center;
    }
  }
</style>
<header class="for-sticky"> 
    <!-- Header top area start -->
    <!-- <div class="header-top-area">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-8">
            <div class="top-contact"> <a href="#"><i class="fa fa-envelope"></i>mail@domain.com</a> <a href="#"><i class="fa fa-phone"></i> +88 01911 837404</a> <a href="#"><i class="far fa-clock"></i> 9:00AM to 8:00PM</a> </div>
          </div>
          <div class="col-12 col-lg-4 d-flex justify-content-center justify-content-lg-end">
            <div class="top-menu">
              {% if user.is_authenticated %}
              {{user.first_name}} <span class="text-primary py-2 px-2 ms-1 rounded" style="background-color: white; height: 100%;">{{user.email}}</span>
              <span>
                <a href="{% url 'logout' %}">
                  <i class="fa fa-power-off" aria-hidden="true"></i>
                </a>
              </span>
              {% else %}
              <ul>
                <li><a href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i> Se connecter</a></li>
                {% comment %}
                <li><a href="{% url 'signup' %}"><i class="fa fa-unlock-alt"></i> S'enregistrer</a></li>
                {% endcomment %}
              </ul>
              {% endif %}
            </div>
            {% comment %}
            <div class="language">
              <ul>
                <li><a href="#" title="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="{% static 'assets/images/flag-1.png' %}" alt=""/> EN</a>
                  <ul class="dropdown-menu">
                    <li><a href="" title=""><img src="{% static 'assets/images/flag-1.png' %}" alt=""/> EN</a></li>
                    <li><a href="" title=""><img src="{% static 'assets/images/flag-2.png' %}" alt=""/> TR</a></li>
                    <li><a href="" title=""><img src="{% static 'assets/images/flag-3.png' %}" alt=""/> BR</a></li>
                    <li><a href="" title=""><img src="{% static 'assets/images/flag-4.png' %}" alt=""/> SR</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            {% endcomment %}
          </div>
        </div>
      </div>
    </div> -->
    <!-- Header top area End --> 
    
    <!-- Header area start -->
    <div class="header-area">
      <div class="" style="margin: 0 5%;"> 
        <!-- Site logo Start -->
        <div class="logo"> 
          <a href="{% url 'main-home' %}" title="Kingstine Export" style="display: flex; align-items: center; justify-content: center; flex-direction: column; margin: 10px 0;">
            <img src="{% static 'assets/images/kilo/logo/WhatsApp Image 2024-02-06 at 08.45.20.jpeg' %}" alt="W-shipping"/> 
            <span class="font-weight-bold" style="font-size: larger; color:black">Kingstine Export</span>
          </a> 
        </div>
        <!-- Site logo end -->
        <div class="mobile-menu-wrapper"></div>
        {% comment %}
        <!-- Search Start -->
        <div class="dropdown header-search-bar">
          <form action="#">
            <span class="" data-toggle="dropdown"><i class="fa fa-search" aria-hidden="true"></i></span>
            <input type="search" placeholder="kyewords.." class="dropdown-menu search-box">
          </form>
        </div>
        <!-- Search End --> 
        {% endcomment %}
        <!-- Main menu start -->
        <nav class="mainmenu">
          <ul id="navigation">
            <li class=""><a href="{% url 'main-home' %}">Accueil</a> <!--nav-active-->
            </li>
            <li>
              <a href="#">Nos services</a>
              <!-- <a href="{% url 'services' %}">Nos services</a> -->
              <ul>
                <li>
                  <a href="{% url 'ocean-freight-services' %}">Fret maritime</a>
                </li>  
                <li>
                  <a href="{% url 'air-freight-services' %}">Fret aérien</a>
                </li>    
              </ul>
            </li>
            {% comment %}
            <li><a href="#">Shipping</a>
              <ul>
                <li><a href="{% url 'create-shipping' %}">Create New Shipment</a></li>
                <li><a href="current-shipment.html">Current Shipment list</a></li>
                <li><a href="shipment-history.html">Shipment History</a></li>
              </ul>
            </li>
            {% endcomment %}
            <li><a href="{% url 'tracking' %}">Tracking</a>
              <!-- <ul>
                <li><a href="">Tracking</a></li>
              </ul> -->
            </li>
            <li><a href="{% url 'shop' %}">Boutique</a>
              <!-- <ul>
                <li><a href="{% url 'shop' %}">Product</a></li>
              </ul> -->
            </li>
            <li class=""><a href="{% url 'about-us' %}">A propos de nous</a> <!--nav-active-->
            </li>
            <li><a href="{% url 'contact' %}">Nous contacter</a></li>
            <li><a href="https://www.kilo.bb-business.ovh">Se connecter</a></li>
          </ul>
        </nav>
        <!-- Main menu end --> 
      </div>
    </div>
    <!-- Header area End --> 
  </header>