{% load static %}


  <div class="wshipping-content-block news-testimonial-block pt0" style="margin: 48px 0;">
    <div class="container wow fadeInUp">
       <div class="row">
          <!-- Latest News Start --> 
          <!-- <div class="col-12 col-lg-5">
             <h3 class="heading3-border text-uppercase">Latest News</h3>
             <div class="latest-news-section mt0 wow fadeInUp">
                <div class="news-date">
                   28<span>Feb</span>
                </div>
                <h4>News Title</h4>
                <div class="news-post-by">By <span>Admin</span></div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
             </div>
             <div class="latest-news-section wow fadeInUp">
                <div class="news-date">
                   23<span>Mar</span>
                </div>
                <h4>News Title</h4>
                <div class="news-post-by">By <span>Admin</span></div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
             </div>
          </div> -->
          <!-- Latest News End --> 
          
          <!-- Testimonial start --> 
          <div class="col-12 col-lg-7 home-testimonial">
             <h3 class="heading3-border text-uppercase">Témoignage</h3>
             <div class="owl-carousel testimonial">
                <div class="testimonial-item">
                   <div class="row">
                      <div class="col-12 col-lg-5"><div class="testimonial-img-bg-1"></div></div>
                      <div class="col-12 col-lg-7">
                         <div class="testimonial-content">
                            <p>J'ai été pleinement satisfait du service de transfert de colis fourni par cette entreprise. Leur fiabilité, leurs tarifs compétitifs et leur service clientèle exceptionnel m'ont convaincu. Le suivi en temps réel des colis et l'assurance offerte ont renforcé ma confiance en leur professionnalisme. Je recommande vivement leurs services.</p>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="testimonial-item">
                   <div class="row">
                      <div class="col-12 col-lg-5"><div class="testimonial-img-bg-2"></div></div>
                      <div class="col-12 col-lg-7">
                         <div class="testimonial-content">
                            <p>Je tiens à exprimer ma satisfaction quant au service de transfert de colis offert par cette entreprise. Les tarifs compétitifs associés à une qualité de service exceptionnelle en font un choix incontournable. Le suivi en temps réel des colis m'a offert une tranquillité d'esprit, et l'assurance proposée a renforcé la sécurité de mes envois. Je recommande vivement cette entreprise.</p>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="testimonial-item">
                   <div class="row">
                      <div class="col-12 col-lg-5"><div class="testimonial-img-bg-2"></div></div>
                      <div class="col-12 col-lg-7">
                         <div class="testimonial-content">
                            <p>Je suis pleinement satisfait du service de transfert de colis proposé par cette entreprise. Leurs tarifs compétitifs et leur qualité de service exceptionnelle en font un choix incontournable. Le suivi en temps réel des colis m'a apporté une tranquillité d'esprit, et l'assurance proposée a renforcé la sécurité de mes envois. Je recommande fortement cette entreprise</p>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <!-- Testimonial end -->
       </div>  
    </div>
   </div>

     