{% load static %}
{% load i18n %}

  <!-- Breadcroumbs start -->
  <div class="wshipping-content-block wshipping-breadcroumb inner-bg-1">
    <div class="container">
      <div class="row">
         <div class="col-12 col-lg-7">
            <h1>Nos services</h1>
            <a href="{% url 'main-home' %}" title="Accueil">Accueil</a> / Expédition de fret maritime
         </div>
         <div class="col-12 col-lg-5 text-right"><h4>Nous expédions partout au Congo depuis la Chine <br>
            La meilleure entreprise de logistique, <span>RAPIDE</span> et <span>EN TOUTE SÉCURITÉ !</span></h4></div>
      </div>
    </div>
  </div>
  <!-- Breadcroumbs end -->

  <!-- Single service start -->
  <div class="wshipping-content-block">
    <div class="container">
      <div class="row">
        <div class="col-12"><h2 class="text-uppercase mt0">Expédition de fret maritime</h2></div>
      </div>
      <div class="row">
         <!-- Single service Gallery start -->
         <div class="col-12 col-lg-6 single-service-gallery gallery-group-popup">
           <div class="row">
              <div class="col-12 l-gallery-holder">
         <a class="latest-gallery" href="{% static 'assets/images/kilo/ocean-freight/ocean-ship.jpg' %}" data-fancybox="images" title="ThemeForest Project"><i class="fa fa-search-plus" aria-hidden="true"></i><img src="{% static 'assets/images/kilo/ocean-freight/ocean-ship.jpg' %}" alt=""/></a>
              </div>
              <div class="col-12 col-md-6 col-lg-6 portfolio-holder">
         <a class="latest-gallery" href="{% static 'assets/images/kilo/ocean-freight/black-deliver.jpg' %}" data-fancybox="images" title="ThemeForest Project"><i class="fa fa-search-plus" aria-hidden="true"></i><img src="{% static 'assets/images/kilo/ocean-freight/black-deliver.jpg' %}" alt=""/></a>
              </div>
              <div class="col-12 col-md-6 col-lg-6 portfolio-holder">
         <a class="latest-gallery" href="{% static 'assets/images/kilo/ocean-freight/white-deliver.jpg' %}" data-fancybox="images" title="ThemeForest Project"><i class="fa fa-search-plus" aria-hidden="true"></i><img src="{% static 'assets/images/kilo/ocean-freight/white-deliver.jpg' %}" alt=""/></a>
              </div>
            </div>
         </div>
         <!-- Single service gallery end -->
         
         <!-- Advantages start -->
         <div class="col-12 col-lg-5 offset-lg-1">
           <h3 class="heading3-border text-uppercase">Nos avantages</h3>
             <div class="advantages">
               <ul>
                 <li class="trust">
                    <h5>On nous fait confiance</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                 </li>
                 <li class="sequrity">
                    <h5>La meilleure sécurité</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                 </li>
                 <li class="guarantee">
                    <h5>100% garantie</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                 </li>
                 <li class="location">
                     <h5>Localisation rapide</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                 </li>
               </ul>
            </div>   
         </div>
         <!-- Advantages end -->
      </div>
      <div class="space40">
        
      </div>
      <div class="row">
         <!-- single service content start -->
         <div class="col-12 col-lg-7">
            <!-- <div class="download-pdf">
               <a href="" title="" class="wshipping-button download-btn"><i class="fa fa-file-pdf-o"></i> Télécharger Boucher</a>
               <a href="" title="" class="wshipping-button download-btn"><i class="fa fa-file-pdf-o"></i> Télécharger la liste de prix</a>
            </div> -->
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p> 

            <p>when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance.</p>
            
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock,</p>
            
         </div>
         <!-- single service content end -->
         
         <!-- Get quote start -->
         <div class="col-12 col-lg-5">
            <div class="right-quote-from">
               <h3>Nos prix :</h3>
               <!-- <form action="#">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Your Full Name">
                  </div>  
                  <div class="form-group">  
                    <input type="email" class="form-control" placeholder="Email">  
                  </div>
                  <div class="form-group">  
                    <input type="text" class="form-control" placeholder="Phone Number"> 
                  </div>
                  <div class="form-group">
                     <textarea class="form-control" placeholder="Message"></textarea>
                  </div>
                  <div class="form-group">
                      <button type="submit" class="wshipping-button">Get A Free Quote</button>
                  </div>
                </form> -->
            </div>
            <img src="{% static 'assets/images/kilo/ocean_freight_price.jpeg' %}" alt="">
         </div>
         <!-- Get quote end -->
      </div>
    </div>
  </div>
  <!-- Single service end -->
    <!-- News &amp; Testimonials Start --> 
  {% include "partials/temoignage_n_news.html" %}
     <!-- News & Testimonials End -->
  <!-- Our client start -->  
  {% include "partials/customers.html" %}
  <!-- Our client end -->
  
