{% load static %}
{% load i18n %}

  <!-- Breadcroumbs start -->
  <div class="wshipping-content-block wshipping-breadcroumb inner-bg-1">
    <div class="container">
      <div class="row">
         <div class="col-12 col-lg-7">
            <h1>Nos services</h1>
            <a href="{% url 'main-home' %}" title="Accueil">Accueil</a> / Expédition de fret maritime
         </div>
         <div class="col-12 col-lg-5 text-right"><h4>Nous expédions partout au Congo depuis la Chine <br>
            La meilleure entreprise de logistique, <span>RAPIDE</span> et <span>EN TOUTE SÉCURITÉ !</span></h4></div>
      </div>
    </div>
  </div>
  <!-- Breadcroumbs end -->

  <!-- Single service start -->
  <div class="wshipping-content-block">
    <div class="container">
      <div class="row">
        <div class="col-12"><h2 class="text-uppercase mt0">Expédition de fret maritime</h2></div>
      </div>
      <div class="row">
         <!-- Single service Gallery start -->
         <div class="col-12 col-lg-6 single-service-gallery gallery-group-popup">
           <div class="row">
              <div class="col-12 l-gallery-holder">
         <a class="latest-gallery" href="{% static 'assets/images/kilo/ocean-freight/ocean-ship.jpg' %}" data-fancybox="images" title="ThemeForest Project"><i class="fa fa-search-plus" aria-hidden="true"></i><img src="{% static 'assets/images/kilo/ocean-freight/ocean-ship.jpg' %}" alt=""/></a>
              </div>
              <div class="col-12 col-md-6 col-lg-6 portfolio-holder">
         <a class="latest-gallery" href="{% static 'assets/images/kilo/ocean-freight/black-deliver.jpg' %}" data-fancybox="images" title="ThemeForest Project"><i class="fa fa-search-plus" aria-hidden="true"></i><img src="{% static 'assets/images/kilo/ocean-freight/black-deliver.jpg' %}" alt=""/></a>
              </div>
              <div class="col-12 col-md-6 col-lg-6 portfolio-holder">
         <a class="latest-gallery" href="{% static 'assets/images/kilo/ocean-freight/white-deliver.jpg' %}" data-fancybox="images" title="ThemeForest Project"><i class="fa fa-search-plus" aria-hidden="true"></i><img src="{% static 'assets/images/kilo/ocean-freight/white-deliver.jpg' %}" alt=""/></a>
              </div>
            </div>
         </div>
         <!-- Single service gallery end -->
         
         <!-- Advantages start -->
         <div class="col-12 col-lg-5 offset-lg-1">
           <h3 class="heading3-border text-uppercase">Nos avantages</h3>
             <div class="advantages">
               <ul>
                  <li class="trust">
                     <h5>On nous fait confiance</h5>
                     <p>Des milliers de clients nous font confiance chaque jour pour la livraison rapide et sécurisée de leurs colis, partout dans le monde.</p>
                 </li>
                 <li class="security">
                     <h5>La meilleure sécurité</h5>
                     <p>Nous utilisons des technologies de pointe pour garantir la sécurité de vos envois, du départ à l'arrivée.</p>
                 </li>
                 <li class="guarantee">
                     <h5>100% garantie</h5>
                     <p>Nous offrons une garantie de satisfaction à 100% sur tous nos services de livraison de colis.</p>
                 </li>
                 <li class="location">
                     <h5>Localisation rapide</h5>
                     <p>Grâce à notre système de suivi en temps réel, vous pouvez suivre votre colis à chaque étape de son parcours.</p>
                 </li>                 
               </ul>
            </div>   
         </div>
         <!-- Advantages end -->
      </div>
      <div class="space40">
        
      </div>
      <div class="row">
         <!-- single service content start -->
         <div class="col-12 col-lg-7">
            <!-- <div class="download-pdf">
               <a href="" title="" class="wshipping-button download-btn"><i class="fa fa-file-pdf-o"></i> Télécharger Boucher</a>
               <a href="" title="" class="wshipping-button download-btn"><i class="fa fa-file-pdf-o"></i> Télécharger la liste de prix</a>
            </div> -->
            <p>Depuis des siècles, l’art de transporter des marchandises à travers les océans a été affiné et perfectionné. Aujourd’hui, Djamila est à l’avant-garde de cette tradition, offrant des tarifs compétitifs pour l’expédition de fret maritime. Nos solutions sont conçues pour s’adapter à une variété de besoins et de budgets, garantissant que vos produits voyagent non seulement avec rapidité, mais aussi avec le plus grand soin.</p>

            <p>Notre grille tarifaire est transparente et sans surprises. Nous proposons des options flexibles, des services express aux solutions économiques, assurant que chaque envoi est optimisé pour l’efficacité et la valeur. Avec des années d’expérience et une passion pour l’excellence, notre équipe est dédiée à fournir un service exceptionnel, soutenu par une expertise qui traverse les âges.</p>

            <p>L’expédition de fret maritime avec Djamila n’est pas seulement une transaction, c’est une promesse de qualité, de fiabilité et d’histoire. Nous sommes fiers de porter cette responsabilité et nous engageons à maintenir les standards les plus élevés, tout en naviguant vers l’avenir de la logistique maritime.</p>

         </div>
         <!-- single service content end -->
         
         <!-- Get quote start -->
         <div class="col-12 col-lg-5">
            <div class="right-quote-from">
               <h3>Nos prix :</h3>

               <p>Les prix varient selon la nature de votre colis</p>
               <p>de
                  <span style="font-weight: bold;">
                     350f 
                  </span>
                  à 
                  <span style="font-weight: bold;">
                     500f
                  </span>
               </p>
               <!-- <form action="#">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Your Full Name">
                  </div>  
                  <div class="form-group">  
                    <input type="email" class="form-control" placeholder="Email">  
                  </div>
                  <div class="form-group">  
                    <input type="text" class="form-control" placeholder="Phone Number"> 
                  </div>
                  <div class="form-group">
                     <textarea class="form-control" placeholder="Message"></textarea>
                  </div>
                  <div class="form-group">
                      <button type="submit" class="wshipping-button">Get A Free Quote</button>
                  </div>
               </form> -->
            </div>
            <!-- <img src="{% static 'assets/images/kilo/ocean_freight_price.jpeg' %}" alt=""> -->
         </div>
         <!-- Get quote end -->
      </div>
    </div>
  </div>
  <!-- Single service end -->
    <!-- News &amp; Testimonials Start --> 
  {% include "partials/temoignage_n_news.html" %}
     <!-- News & Testimonials End -->
  <!-- Our client start -->  
  {% include "partials/customers.html" %}
  <!-- Our client end -->
  
