{% load static %}
{% load i18n %}

  
  <!-- Slider Start -->
  <div class="homepage-slides-wrapper">
    <div class="owl-carousel homepage-slides text-center"> 
      <!-- Slider item1 start-->
      <div class="single-slide-item slider-overlay slide-bg-1">
        <div class="item-table">
          <div class="item-tablecell">
            <div class="container">
              <div class="row">
                <div class="col-lg-10 offset-lg-1">
                  <h3>Nous sommes fiers</h3>
                  <h2>D'être toujours présents à la demande</h2>
                  <p>Depuis notre création, nous nous engageons à offrir des services de transfert de colis rapides, fiables et accessibles. Notre équipe dévouée travaille sans relâche pour garantir que vos colis arrivent à destination en toute sécurité et dans les délais promis. Chez Kingstine Exporte, votre satisfaction est notre priorité, et nous sommes toujours là pour répondre à vos besoins d'expédition, à tout moment et partout.</p>
                  <a href="{% url 'contact' %}" class="wshipping-button slide-btn">Contactez nous</a> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Slider item1 end--> 
      
      <!-- Slider item2 start-->
      <div class="single-slide-item slider-overlay slide-bg-2">
        <div class="item-table">
          <div class="item-tablecell">
            <div class="container">
              <div class="row">
                <div class="col-lg-10 offset-lg-1">
                  <h3>Nous sommes actifs</h3>
                  <h2>Pour expédier votre produit en toute confiance</h2>
                  <p>Notre engagement est de vous assurer une expédition sûre et sécurisée. Avec [Nom de l'Entreprise], vous pouvez envoyer vos produits en sachant qu'ils sont entre de bonnes mains. Nous utilisons les dernières technologies et les meilleures pratiques de l'industrie pour garantir que chaque colis est traité avec le plus grand soin. Faites-nous confiance pour une livraison sans souci, où que vous soyez.</p>
                  <a href="{% url 'contact' %}" class="wshipping-button slide-btn">Obtenez un devis gratuit</a> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Slider item2 end--> 
    </div>
  </div>
  <!-- Slider End --> 
  <!-- Service start -->
  {% comment %}
  <div class="wshipping-content-block">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6 offset-lg-3">
          <div class="section-title wow fadeInUp title-bold-2xl">
            <h2>Qui sommes Nous</h2>
            
          </div>
        </div>
      </div>
      <div class="single-service-item wow fadeInUp" style="border-radius: .6rem;">
          <div class="row">
            <div class="col-12">
              <div style="max-height: 500px;">
                <img style="width: 100%;" src="{% static 'assets/images/kilo/women-deliver.jpg' %}" alt="">
              </div>
            </div>
            <div class="col-12">
              <div class="service-content" style="height: 100%; background-color: #1f5c74;">
                <p style="font-size: x-large; font-weight: 100; vertical-align: middle; line-height: 30px; color: white; margin-top: 50px;">
                  <span style="font-size: 2.5rem;">C</span>hez <span style="font-weight: bold;">Kingstine Export</span>, nous révolutionnons le transfert de colis de la
                  <span style="font-weight: 400; font-style: italic;">Chine</span> vers le <span style="font-weight: 400; font-style: italic;">Congo</span>.
                  Notre mission est de rapprocher les marchés, en rendant l'accessibilité aux produits internationaux aussi simple
                  qu'un clic.
                  Avec une logistique fiable et une équipe dédiée, nous assurons que chaque colis arrive à destination en toute
                  sécurité et dans les meilleurs délais.
                  Faites confiance à <span style="font-weight: bold;">Kingstine Export</span>, votre partenaire privilégié pour
                  des échanges sans frontières.
                </p>
                <p style="width: fit-content; margin: 20px auto; font-size: x-large; font-weight: bold; color: white;">Pays desservis</p>
                <div class="d-flex" style="gap: 20px; justify-content: center; padding: 10px; flex-wrap: wrap;">
                  <div style="display: flex; flex-direction: column; justify-content: center;">
                    <img style="height: 50px; width: auto; border-radius: 2px;" src="{% static 'assets/images/kilo/countries/cd.svg' %}" alt="">
                    <p style="color: white; font-weight: 500; font-size: smaller;">RDC</p>
                  </div>
                  <div style="display: flex; flex-direction: column; justify-content: center;">
                    <img style="height: 50px; width: auto; border-radius: 2px;" src="{% static 'assets/images/kilo/countries/cg.svg' %}" alt="">
                    <p style="color: white; font-weight: 500; font-size: smaller;">CONGO</p>
                  </div>
                  <div style="display: flex; flex-direction: column; justify-content: center;">
                    <img style="height: 50px; width: auto; border-radius: 2px;" src="{% static 'assets/images/kilo/countries/ci.svg' %}" alt="">
                    <p style="color: white; font-weight: 500; font-size: smaller;">COTE D'IVOIRE</p>
                  </div>
                  <div style="display: flex; flex-direction: column; justify-content: center;">
                    <img style="height: 50px; width: auto; border-radius: 2px;" src="{% static 'assets/images/kilo/countries/cm.svg' %}" alt="">
                    <p style="color: white; font-weight: 500; font-size: smaller;">CAMEROUN</p>
                  </div>
                  <div style="display: flex; flex-direction: column; justify-content: center;">
                    <img style="height: 50px; width: auto; border-radius: 2px;" src="{% static 'assets/images/kilo/countries/cn.svg' %}" alt="">
                    <p style="color: white; font-weight: 500; font-size: smaller;">CHINE</p>
                  </div>
                  <div style="display: flex; flex-direction: column; justify-content: center;">
                    <img style="height: 50px; width: auto; border-radius: 2px;" src="{% static 'assets/images/kilo/countries/ga.svg' %}" alt="">
                    <p style="color: white; font-weight: 500; font-size: smaller;">GABON</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  {% endcomment %}
  <!-- Service End --> 
   <!-- Service start -->
   <div class="wshipping-content-block">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6 offset-lg-3">
          <div class="section-title wow fadeInUp title-bold-2xl">
            <h2>Nos services</h2>
            <p>Voici les services que nous mettons à votre disposition</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="single-service-item wow fadeInUp">
            <div class="service-item-bg service-bg-1"></div>
            <div class="service-content">
              <h4>Expédition de fret maritime</h4>
              <p>Notre service d'expédition de fret maritime est conçu pour répondre à tous vos besoins logistiques internationaux. Avec une flotte moderne et une équipe d'experts en logistique, nous assurons le transport de vos marchandises en toute sécurité à travers les océans. Chez Kingstine Export, nous comprenons l'importance de la fiabilité et de l'efficacité dans le transport maritime et nous nous engageons à fournir un service de qualité supérieure à chaque étape de votre chaîne d'approvisionnement.</p>
              <a href="{% url 'ocean-freight-services' %}" title="" class="readmore-btn">En savoir plus<i class="fa fa-angle-right"></i></a>
              <div class="location_map"><a href="{% url 'ocean-freight-services' %}"><i class="fa fa-plus"></i></a></div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="single-service-item wow fadeInUp">
            <div class="service-item-bg service-bg-2"></div>
            <div class="service-content">
              <h4>Expédition de fret aérien</h4>
              <p>Optez pour la rapidité et l'efficacité avec notre service d'expédition de fret aérien. Chez Kingstine Export, nous comprenons que le temps est précieux. C'est pourquoi nous offrons des solutions de transport aérien adaptées à vos délais serrés. Notre réseau global et nos partenariats avec les principales compagnies aériennes garantissent que vos envois arrivent à leur destination rapidement et en parfait état. <br> <span class="text-white">Kingstine Export</span></p>
              <a href="{% url 'air-freight-services' %}" title="" class="readmore-btn">En savoir plus<i class="fa fa-angle-right"></i></a>
              <div class="location_map"><a href="{% url 'air-freight-services' %}"><i class="fa fa-plus"></i></a></div>
            </div>
          </div>
        </div>
        <!-- <div class="col-12 col-lg-4">
          <div class="single-service-item wow fadeInUp">
            <div class="service-item-bg service-bg-3"></div>
            <div class="service-content">
              <h4>Car Shipping</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
              <a href="" title="" class="readmore-btn">En savoir plus<i class="fa fa-angle-right"></i></a>
              <div class="location_map"><i class="fa fa-plus"></i></div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  <!-- Service End --> 
  <!-- article start -->
  <div class="wshipping-content-block">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6 offset-lg-3">
          <div class="section-title wow fadeInUp title-bold-2xl">
            <h2>Nos articles</h2>
            <p>Voici quelques articles pour lesquel nous pouvons vous aider à faire un transfére dans des delaies raisonnables</p>
          </div>
        </div>
      </div>
      <div class="row">
        {% for article in articles %}
        <!-- <img src="http://kilo.bb-business.ovh/{{article.image_uri}}" alt="" srcset=""> -->
        <div class="col-12 col-lg-4">
          <div class="single-service-item wow fadeInUp">
            <div class="service-item-bg" style="background-image: url('http://kilo.bb-business.ovh/{{article.image_uri}}');"></div>
            <div class="service-content">
              <h4>{{article.name}}</h4>
              {% comment %}
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
              {% endcomment %}
              <a href="{% url 'shop' %}" title="" class="readmore-btn">En savoir plus<i class="fa fa-angle-right"></i></a>
              <div class="location_map"><i class="fa fa-plus"></i></div>
            </div>
          </div>
        </div>
        {% empty %}
        <div class="relative col-12">
          <div>
            {% if messages %}
            {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
              <div class="alert alert-danger alert-dismissible fade show d-block mx-auto" role="alert">
                <div class="">
                  <!-- <button type="button" class="close d-inline" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button> -->
                  <strong class="d-inline">{{message}}</strong>, <span class="d-inline">Erreur de connexion !</span>
                </div>
              </div>
            {% endif %}
            {% endfor %}
            {% endif %}
           </div>
        </div>
        {% endfor %}
        
      </div>
    </div>
  </div>
  <!-- Service End --> 
  
  <!-- we peovide start -->
  <div class="wshipping-content-block provided-block text-center">
    <div class="item-table">
      <div class="item-tablecell">
        <div class="container">
          <div class="row">
            <div class="col-12 wow fadeInUp">
              <h3 class="text-uppercase">Nous fournissons</h3>
              <h1 class="text-uppercase">les meilleurs services de fret maritime et aérien</h1>
              <h2 style="color: white;">Pour réserver votre expédition depuis n'importe quel pays</h2>
              <a href="{% url 'contact' %}" class="wshipping-button cta-btn">Contactez-nous</a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- we provide end --> 
  
  <!-- Why Choose start -->
  <div class="wshipping-content-block">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-4 wow fadeInLeft"> <img src="{% static 'assets/images/kilo/logo/WhatsApp Image 2024-02-06 at 08.45.20.jpeg' %}" alt=""/> </div>
        <div class="col-12 col-lg-4">
          <div class="why-choose-us-content wow fadeInUp">
            <h3 class="heading3-border text-uppercase">Pourquoi nous choisir ?</h3>
            <p>Notre entreprise de transfert de colis se distingue par sa fiabilité inégalée. Nous nous engageons à assurer la livraison sécurisée et ponctuelle de vos colis, offrant ainsi à nos clients une tranquillité d'esprit inégalée. De plus, nos tarifs compétitifs sont associés à une qualité de service exceptionnelle, garantissant un excellent rapport qualité-prix pour nos clients.  Notre engagement envers un service clientèle de premier ordre se traduit par notre disponibilité, notre réactivité et notre attention aux besoins individuels de chaque client. De plus, nos clients bénéficient de la possibilité de suivre leurs colis en temps réel, renforçant ainsi la transparence et la confiance.Forts de notre expérience et de notre expertise dans le domaine du transfert de colis, nous sommes fiers de notre capacité à offrir un service fiable, efficace et adapté à divers types d'envois.</p>
            <!-- <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. </p> -->
            <a href="" title="" class="readmore-btn d-none">En savoir plus<i class="fa fa-angle-right"></i></a> </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="why-choose-us wow fadeInRight">
            <div class="why-choose-us-icon"> <i class="far fa-handshake"></i>Notre efficacité</div>
            <div class="why-choose-us-icon"> <i class="fa fa-unlock-alt"></i>La meilleure sécurité</div>
            <div class="why-choose-us-icon"> <i class="far fa-thumbs-up"></i>Garantie à 100%</div>
            <div class="why-choose-us-icon"> <i class="fas fa-map-marker-alt"></i>Localisation rapide</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- why choose End --> 
  
  <!-- Service process start -->
  <div class="wshipping-content-block service-process">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-12 col-lg-6 offset-lg-3">
          <div class="section-title">
            <h2 style="color: white">Notre processus de service</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>
      </div>
      <div class="process-row">
        <div class="process-step">
          <div class="process-icon"> <span>1</span> <img src="{% static 'assets/images/process-icon1.png' %}" alt=""/> </div>
          <p>Sélectionner le fret</p>
        </div>
        <div class="process-step">
          <div class="process-icon"> <span>2</span> <img src="{% static 'assets/images/process-icon2.png' %}" alt=""/> </div>
          <p>Créer une facture</p>
        </div>
        <div class="process-step">
          <div class="process-icon"> <span>3</span> <img src="{% static 'assets/images/process-icon3.png' %}" alt=""/> </div>
          <p>Paiement sécurisé</p>
        </div>
        <div class="process-step">
          <div class="process-icon"> <span>4</span> <img src="{% static 'assets/images/process-icon4.png' %}" alt=""/> </div>
          <p>Livraison rapide</p>
        </div>
      </div>
    </div>
  </div>
  <!-- service process start --> 
  
  <!-- Get Quote start -->
  <!-- <div class="wshipping-content-block home-quote">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 wow fadeInLeft">
          <h2>GET A FREE QUOTE</h2>
          <h6>we always use best & fastest fleets</h6>
          <div class="quote-form">
            <form data-toggle="validator" action="#">
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <input class="form-control" data-error="Please enter name field." id="inputName" placeholder="Full Name" type="text" required />
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-lg-6">
                  <div class="form-group">
                    <input type="email" class="form-control" id="inputEmail" placeholder="Email" required />
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-12 col-lg-6">
                  <div class="form-group">
                    <input type="text" class="form-control" id="inputMobile" placeholder="Mobile" required />
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-lg-6">
                  <div class="form-group">
                    <input type="text" class="form-control" id="DestinationFrom" placeholder="Destination From" required />
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-12 col-lg-6">
                  <div class="form-group">
                    <input type="text" class="form-control" id="DestinationTo" placeholder="Destination To" required />
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" id="ShippingType" placeholder="Shipping Type" required />
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-12 col-lg-6">
                  <div class="form-group">
                    <div class="datepicker-group">
                      <input type="text" class="form-control datetimepicker1" placeholder="Date" />
                      <div class="datepicker-icon"><i class="fa fa-calendar-alt"></i></div>
                    </div>
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <textarea class="form-control text-area" data-error="Please enter Message." id="textMessage" placeholder="Message" required></textarea>
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <button class="wshipping-button cta-btn" type="submit">Send us quote</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- Get quote End --> 
  
  <!-- Latest blog start -->
  <!-- <div class="wshipping-content-block pb40">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-title wow fadeInUp">
            <h2>Latest Blog Post</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-4">
          <div class="blog-item wow fadeInUp">
            <div class="blog-item-bg blog-bg-1"></div>
            <div class="blog-content">
              <h3>Shipping container all international transport</h3>
              <div class="blog-post-by">
                <ul>
                  <li><i class="fa fa-calendar"></i>18 March 2017</li>
                  <li><i class="fa fa-user"></i>By Admin</li>
                </ul>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor aeneanssa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
              <a href="" title="" class="readmore-btn">En savoir plus<i class="fa fa-angle-right"></i></a> </div>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="blog-item wow fadeInUp">
            <div class="blog-item-bg blog-bg-2"></div>
            <div class="blog-content">
              <h3>Lorem Ipsum is simply dummy text of the printing.</h3>
              <div class="blog-post-by">
                <ul>
                  <li><i class="fa fa-calendar"></i>18 March 2017</li>
                  <li><i class="fa fa-user"></i>By Admin</li>
                </ul>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor aeneanssa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
              <a href="" title="" class="readmore-btn">En savoir plus<i class="fa fa-angle-right"></i></a> </div>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="blog-item wow fadeInUp">
            <div class="blog-item-bg blog-bg-3"></div>
            <div class="blog-content">
              <h3>All Shipping container  are international transport</h3>
              <div class="blog-post-by">
                <ul>
                  <li><i class="fa fa-calendar"></i>18 March 2017</li>
                  <li><i class="fa fa-user"></i>By Admin</li>
                </ul>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor aeneanssa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
              <a href="" title="" class="readmore-btn">En savoir plus<i class="fa fa-angle-right"></i></a> </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- Latest blog End --> 
  
  <!-- Counter start -->
  <!-- <div class="wshipping-content-block counter-section">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="counter-block"> <span class="counter-icon"><i class="fa fa-folder-open"></i></span>
            <p><span class="counter" data-count="578">0</span> Projet terminé</p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="counter-block"> <span class="counter-icon"><i class="fas fa-users"></i></span>
            <p><span class="counter" data-count="347">0</span> Clients permanents</p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="counter-block"> <span class="counter-icon"><i class="fa fa-truck"></i></span>
            <p><span class="counter" data-count="128">0</span> Véhicules possédés </p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="counter-block"> <span class="counter-icon"><i class="fa fa-male"></i></span>
            <p><span class="counter" data-count="67">0</span> Membre de soutien</p>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- Counter End --> 
  
  <!-- News &amp; Testimonials Start -->
  {% include "partials/temoignage_n_news.html" %}
  <!-- News & Testimonials End --> 
  
<!-- Our client start -->
{% include "partials/customers.html" %}
  <!-- Our client end --> 
